/**********
Variables
**********/
$color-kh-turquoise: #00778b;
$color-kh-teal: #00b7db;
$color-kh-purple: #8c30f5;
$color-kh-purple-hover: #8c30f5af;
$color-kh-grey: #6d6e71;

.root {
  --color-kh-grey: #6d6e71;
}
html {
  height: 100%;
  font-family: "Helvetica";
  border-color: var(--color-kh-grey);
}
