<nav>
    <div class="banner-grid">
        <div class="title-container">
            <img class="logo" src="/assets/KH-K logo-rgb.png" alt="Kettering K logo">
            <div class="title">Recipe App</div>
        </div>
        <div id="icons" class="icons">
            <a href="#" class="icon-link"><img id="logout" class="icon-logout" src="/assets/iconmonstr-log-out-2.svg"
                    alt="logout icon" alt="logout"></a>
            <a href="#" class="icon-link"><img class="icon-admin" src="/assets/iconmonstr-log-out-2.svg"
                    alt="admin login"></a>
        </div>
        <div>
            <div>Recipes</div>
            <div>Shopping List</div>
        </div>
    </div>

</nav>